<p>
  <strong>Name:</strong>
  <%= review.name %>
</p>

<p>
  <strong>Review:</strong>
  <%= review.body %>
</p>

<p>
  <%= link_to 'Delete Review', [review.book, review],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>